.P_Root{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    margin-bottom: 10rem;
}

.P_Title{
    background: linear-gradient(219deg, #4916e0,#d60ae9,#8005fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 1.1px;
    animation: text-color 3s infinite linear;
    margin-bottom: 4rem;
}
.P_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem;
}

.P_Container:hover .P_Item:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.P_Item{
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 14px;
}
.P_Image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.P_ItemTitle{
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
    color: #ffffff;
}

.P_Description{
    font-size: 1rem;
    margin: 0 1rem 1rem 1rem;
    color: #cccccc;
}

.P_Link{
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.P_Link:hover{
    background-color: #d60ae9;
    color: #ffffff;
}

@keyframes text-color {
    0% {
        background-size: 200% 100%;
        background-position: 0% 0%;
    }
    50% {
        background-size: 200% 100%;
        background-position: 100% 0%;
    }
    70%{
        background-size: 200% 100%;
        background-position: 0% 100%;
    }
    100% {
        background-size: 200% 100%;
        background-position:0% 0%;
    }
}